.bottom{
    width:768px;
    border:2px solid #000;
    border: solid 5px black;
    float:left;
}
.box1{
    width:32.5%;
    display:inline-block;
    min-height: 500px;
    border-right: solid 5px black;
    float:left;
    /*position: relative;*/
}     
.box2{
    width:32.5%;
    display:inline-block;
    min-height: 500px;
    border-right: solid 5px black;
    float:left;
    /*position: relative;*/
} 
.box3{
    width:32.5%;
    display:inline-block;
    min-height: 500px;
    float:left;
    /*position: absolute;*/
}
.dialogBox{
    color:red;
    width:280px;
    padding: auto;
    border-style:solid;
    border-color:red;
}

.date-input {
    width: 70px;
    margin-left: 55px;
    margin-top: -16px;
}

.title {
    margin-top: 5px;
}
.td1{
    color:green;
    margin-top: 5px;
    width:142px;
    height:26px;
    border-style:dotted;
    font:right;
}
.td2{
    color:blue;
    width:80px;
    height:26px;
    margin-top: -32px;
    margin-left: 150px;
    border-style:dotted;
    font left;
}
.td3{
    margin-top: 5px;
    color:pink;
    width:225px;
    height:24px;
    border-style:dotted;
    font:right;
}
.span1{
    color:red;
    width:200px;
    height:auto;
    padding:auto;
    border-style:solid;
    border-color:red;
}
.span2{
    height:15px;
    width:15px;
    float:right;
}
.img{
    size:5;
    float: right;
}
.button{
    color:blue;
    float:right;
}